<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clm.system.mapper.OperLogMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        oper_id, title, business_type, method, request_method, operator_type,
        oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param,
        json_result, status, error_msg, oper_time, os, browser, cost_time
    </sql>
    
    <!-- 分页查询操作日志 -->
    <select id="selectOperLogPage" resultType="com.clm.system.domain.vo.OperLogVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_oper_log
        <where>
            <if test="param != null">
                <if test="param.title != null and param.title != ''">
                    AND title LIKE CONCAT('%', #{param.title}, '%')
                </if>
                <if test="param.operName != null and param.operName != ''">
                    AND oper_name LIKE CONCAT('%', #{param.operName}, '%')
                </if>
                <if test="param.businessType != null">
                    AND business_type = #{param.businessType}
                </if>
                <if test="param.status != null">
                    AND status = #{param.status}
                </if>
                <if test="param.beginTime != null and param.endTime != null">
                    AND oper_time BETWEEN #{param.beginTime} AND #{param.endTime}
                </if>
                <if test="param.beginTime != null and param.endTime == null">
                    AND oper_time &gt;= #{param.beginTime}
                </if>
                <if test="param.beginTime == null and param.endTime != null">
                    AND oper_time &lt;= #{param.endTime}
                </if>
                <if test="param.operIp != null and param.operIp != ''">
                    AND oper_ip LIKE CONCAT('%', #{param.operIp}, '%')
                </if>
                <if test="param.requestMethod!=null and param.requestMethod != ''">
                    AND request_method = #{param.requestMethod}
                </if>
            </if>
        </where>
        ORDER BY oper_time DESC
    </select>
    
    <!-- 清空操作日志 -->
    <update id="cleanOperLog">
        TRUNCATE TABLE sys_oper_log
    </update>
</mapper> 